.navigation {
    background-color: blue;
    height: 10vh;
}

.ss1, .ss2, .ss3, .ss4, .ss5, .ss6, .ss7, .ss8, .ss9, .ss10 {
    display: inline-block;
    background-color: blue;
    height: 10vh;
    width: 50vh;
    position: end;
}

@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
    .navigation {
        height: auto; /* Adjust height to fit content */
    }
    
    .ss1, .ss2, .ss3, .ss4, .ss5, .ss6, .ss7, .ss8, .ss9, .ss10 {
        display: block;
        width: auto; /* Adjust width as needed */
        margin: 0 auto; /* Center the elements */
    }
}
