.whats-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-color: black;
  background-color: lightgreen;
}

.content-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}