.result-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden; /* Hide overflow on the container */
  }
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .results-wrapper {
    flex: 1; /* Allow this to grow and shrink as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%; /* Ensure it takes the full width */
  }
  
  .results {
    margin-top: 20px;
    width: 100%; /* Ensure it takes the full width */
    max-width: 600px; /* Limit the maximum width */
  }
  
  .result-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  h3 {
    color: #555;
  }
  
  p {
    color: #333;
  }
  