header {
    display: inline;
}

table {
    display: inline;
}

#1 ,#2, #3, #4, #5, #6 {
    width: 60vw;
    height: 20vh;
}

#1 ,#2, #3, #4, #5, #6 {
    width: 20vw;
    height: 10vh;
}

.What {
    display: block;
    background-color: #7beb7b;
    border: 2px;
    border-color: black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 50vh;
    width: 25vw;
}

@media screen and (max-width: 896px) and (max-height: 2000px) {
    .What {
        display: inline;
    }
}