html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    /* text-align: center;
    padding: 10px;
    box-sizing: border-box; */
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 600px) {
    .logo {
      width: 150px;
    }
  }

.app-container a{
  margin: 10px;
}
  